<div class="container">
  <h1>THIS IS THE PARTY PAGE</h1>
  <h2>You are now in the party.</h2>
  <p>You are <%= @user.first_name %>, we think.</p>
  <form action="/logout" method="GET">    
    <input type="submit" value="LEAVE THE PARTY">
  </form>
</div>
